$transX: -10px;
%arrow-element {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  border-right: solid black 3px;
  border-top: solid black 3px;
  width: 20px;
  height: 20px;
  z-index: 2;
  transition: transform 0.2s;
}

.subjects-table td,
.subjects-table th {
  vertical-align: middle;
}

.table__header {
  position: relative;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  &_desc {
    &::before {
      @extend %arrow-element;
      transform: translate($transX, 10px) rotate(-45deg);
    }
  }

  &_asc {
    &::before {
      @extend %arrow-element;
      transform: translate($transX, 10px) rotate(135deg);
    }
  }
}

.control-button {
  &__button {
    padding: 0.2rem 0.5rem;
  }

  &__container {
    position: relative;
  }
}

.control-list {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-140px, 50px);
  z-index: 1005;

  &__item {
    cursor: pointer;
    transition: background-color 0.2s;
    padding: .5rem .75rem;
    font-size: .9rem;
    text-transform: uppercase;

    &:hover {
      background-color: lightgrey;
    }
  }
}
