$transX: -10px;
%arrow-element {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  border-right: solid black 3px;
  border-top: solid black 3px;
  width: 20px;
  height: 20px;
  z-index: 2;
  transition: transform .2s;
}

.table__header {
  position: relative;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  &_increase {
    &::before {
      @extend %arrow-element;
      transform: translate($transX, 10px) rotate(-45deg);
    }
  }

  &_decrease {
    &::before {
      @extend %arrow-element;
      transform: translate($transX, 10px) rotate(135deg);
    }
  }
}
