@import "~bootstrap/scss/bootstrap.scss";
@import "./styles/toasts.scss";
@import "./styles/subject-card.scss";
@import "./styles/login.scss";
@import "./styles/header.scss";
@import "./styles/table.scss";
@import "./styles/subject-control-panel.scss";
@import "./styles/atomic.scss";
@import "./styles/paginator.scss";

html {
  min-height: 100%;
}
body {
  margin: 0;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, #ada996, #f2f2f2, #dbdbdb, #eaeaea);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.absolute-feedback {
  position: absolute;
  bottom: -1.1rem;
  left: calc(100% / 6 + 1rem);
}

img {
  max-width: 100%;
}

.button-icon {
  position: relative;
  top: 2px;
  transform: scale(1.2);
}

.table-control-button {
  padding: .25rem .5rem;
}